<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds List</title>
</head>

<body>
    <h1>List of Campsites</h1>
    <h2>Title: <%= firstCamp.title %>
    </h2>
    <h3>Location: <%= firstCamp.location %>
    </h3>
    <p>Description: <%= firstCamp.description %>
    </p>
    <h4>Price: €<%= firstCamp.price %> / night</h4>
</body>

</html>