<% layout('layouts/boilerplate')%>
    <h1>Welcome to YelpCamp</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam deleniti ipsam voluptatum asperiores ab hic,
        debitis numquam quam ad molestiae eaque sunt praesentium reprehenderit, dicta excepturi culpa dolorum voluptatem
        iusto?</p>

    <a href="/campgrounds" class="card-link btn btn-success btn-lg">Got To Campgrounds</a>