<% layout('layouts/boilerplate')%>
    <h1>Campgrounds</h1>
    <ul>
        <% for(campground of campgrounds){ %>
            <li>
                <a href="/campgrounds/<%= campground._id %>">Title: <%= campground.title %></a>

            </li>
            <% } %>
    </ul>